@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-items {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
.navbar-items:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 2px;
    bottom: 0;
    right: 0;
    transition: 0.3s ease;
}
.navbar-items:hover:before {
    width: 100%;
}

.glomoprhism {
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.footer {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    /* background-color: #5e43f3; */
    width: 100%;
    display: flex; 
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
    color: #5e43f3;
}

.bg {
    padding-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    background: rgba(255, 255, 255, 0.35);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.custom-alert {
    z-index: 999;
    font-size: large;
}
